.title
  - @cats.each do |cat|
    %a.catLink{:href => "#"}= cat
  .moviesList.withPosters.clearfix
    - @movies.each do |movie|
      .movie{movie.genre_map}
        %h2= movie.name
        - if movie.thumbnail
          %img.poster{:src => movie.thumbnail.href}
        - else
          .noPoster
            No Image Available
