$border_color: #333

@mixin box-shadow($x,$y,$r,$c)
  box-shadow: $x $y $r $c
  -moz-box-shadow: $x $y $r $c
  -webkit-box-shadow: $x $y $r $c

body
  background-color: #444
  margin: 0
.siteWrapper
  background-color: #1f1f1f
  @include box-shadow(#1f1f1f, 0, 0, 25px)
  color: #ccc
  margin: 0 50px
  padding: 0 15px
  .header
    border-bottom: 1px solid $border_color
    padding: 10px 0
    text-align: center
  .content
    padding: 10px 0

    .moviesList
      .movie
        float: left
        margin: 10px
        h2
          text-align: center
        .poster
          height: 220px
          width: 154px


.clearfix
  display: inline-block
  &:after
    content: "."
    display: block
    clear: both
    visibility: hidden
    line-height: 0
    height: 0

html[xmlns] .clearfix
  display: block

* html .clearfix
  height: 1%

