$border_color: #333
$background_color: #1f1f1f

@import 'includes.sass'

body
  background-color: #444
  margin: 0
.siteWrapper
  background-color: $background_color
  @include box-shadow($background_color, 0, 0, 25px)
  color: #ccc
  font-family: Garamond, serif
  margin: 0 50px
  padding: 0 15px
  .header
    border-bottom: 1px solid $border_color
    padding: 10px 0
    text-align: center
  .content
    padding: 10px 0

    .filters
      display: none
      .filterType
        .checker
          position: relative
          top: -1px
          left: 30px
          margin-right: 0
        .styledFilter
          @include round-border(3px)
          padding:
            left: 30px
            right: 5px
          &.active
            color: $background_color
            background: #ccc
      .catLinks
        float: right
        .catLink
          color: #aaa
          margin: 0
            right: 5px
          text-decoration: none
          &:last-child
            margin-right: 0

    .moviesList
      display: none

    .moviesDisplay
      clear: both
      .movie
        @include box-shadow(#222, 0, 0, 7px)
        float: left
        margin: 30px 10px
        position: relative
        text-align: center
        .mainTitle
          display: none
          font-size: 13px
          text-align: center
        .poster
          height: 220px
          width: 154px
        &.lazyLoadNeeded
          .poster
            visibility: hidden
        &.noPoster
          height: 220px
          width: 154px
          .details
            display: block
            background: $background_color + #111

        .noPoster
          .noPosterTitle
            padding-bottom: 10px

        .details
          @include transition('opacity')
          border: 1px solid $border_color
          display: none
          overflow: hidden
          .detailContent
            padding: 10px
            text-align: left
            .name
              font-size: 18px
              padding-bottom: 15px
        &.hover
          .details
            background: #000
            display: block
            position: absolute
            opacity: 0.7
            top: 0
            left: 0
            > *
              cursor: default // CDO

    .noMovies
      display: none
      text-align: center
    .status
      .progress
        height: 15px


.hide
  display: none

.clearfix
  display: inline-block
  &:after
    content: "."
    display: block
    clear: both
    visibility: hidden
    line-height: 0
    height: 0

html[xmlns] .clearfix
  display: block

* html .clearfix
  height: 1%

